

.main{
    background :linear-gradient(rgba(0,0,0,0)30%,#000),url('./bg1.jpg');
    height: 100vh;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#header{
    position: absolute;
    z-index: 10;
    width: 100%;
}
.navbar-light .navbar-toggler {
    color: rgba(255, 255, 255, 0.55);
    border-color: rgba(253, 253, 253, 0.1);
}





.bg2{
    background :linear-gradient(rgba(0,0,0,0)3%,#000),url('https://images.squarespace-cdn.com/content/v1/6063b0835f68896079d7d643/1617910318613-W9Q49L9OVNA7NZBJ5RYJ/Tunnel%2Bphoto%2B1.jpg?format=2500w');
    height: 100vh;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bg3{
    background :linear-gradient(rgba(0,0,0,0)30%,#000),url('https://images.squarespace-cdn.com/content/v1/6063b0835f68896079d7d643/1617516361165-UQK7W8R80GXTQQ1YBUP9/car%25252Bin%25252Btunnel.jpg?format=2500w');
    height: 100vh;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bg4{
    background :linear-gradient(rgba(0,0,0,0)30%,#000),url('https://images.squarespace-cdn.com/content/v1/6063b0835f68896079d7d643/1617556988937-1YD9MUPINA2MX9D9KAE1/20210108_185830.jpg?format=2500w');
    height: 100vh;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bg5{
    background :linear-gradient(rgba(0,0,0,0)30%,#000),url('https://images.squarespace-cdn.com/content/v1/6063b0835f68896079d7d643/1618426023431-JY0VJ7XCQUYY76QO9D1H/9af6c204fe596ec3bfe3cdeeb7294f56.jpg?format=2500w');
    height: 100vh;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bg6{
    background-color: black;
}
.header_brand{
    max-width: 110px;
}
.nav-text{
    letter-spacing: 0em;
    font-weight: 700;
    font-style: normal;
    font-size: 13px;
    letter-spacing: .03em;
    text-transform: uppercase;
    white-space: nowrap;
    line-height: 1em;
}
.nav-align{
   margin-left: 10vh;
}
.h2_style{
    font-weight: 500;
    line-height: 1.2em;
    font-style: normal;
    font-size: 22px;
    letter-spacing: .01em;
    text-transform: none;
    text-rendering: optimizeLegibility;
    color: white;

}
.sec_style{
    font-weight: 700;
    font-style: normal;
    line-height: 1em;
    text-transform: uppercase;
    font-size: 32px;
    letter-spacing: .01371429px;
    color: aliceblue;
}
.sec_des{
    font-family: Roboto;
    font-style: normal;
    font-size: 18px;
    letter-spacing: .03em;
    line-height: 1.3em;
    text-transform: none;
    color: white;
}
.hr_n{
    background: linear-gradient(217deg,rgba(255,0,0,.8),rgba(255,0,0,0) 70.71%),linear-gradient(127deg,rgba(0,255,0,.8),rgba(0,255,0,0) 70.71%),linear-gradient(336deg,rgba(0,0,255,.8),rgba(0,0,255,0) 70.71%);
    transition: width .35s;
    display: block;
    unicode-bidi: isolate;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    overflow: hidden;
    opacity: 200.25;
    
    width: 10px;
    color: rgba(255,255,255,.2);
    background-color: rgba(255,255,255,.2);
}
.footer_style{
    color: white;
    text-decoration: none;
    font-weight: 600;
    font-style: normal;
    font-size: 12px;
    letter-spacing: .02em;
    line-height: 1em;
    text-transform: uppercase;
}